
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&family=Poppins:wght@200;300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url(bag1.jpg);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: poppins;
  }
  
  
  .temperature-converter {
    border: 2px solid #ccc;
    background-color: hsla(0, 0%, 10%, .1);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 25px 45px;
    min-width: 320px;
    width: 100%;
    height: auto;
    box-shadow: -5px -5px 250px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(10px);
  }
  
  h1{
    color: white;
  }
  .result {
    text-align: center;
    margin: 20px 0;
    color: white;
  }
  .Result-heading {
    color:#552696;
    font-size: 1rem;
    font-weight: 400;
    color: white;
  }
  .celsius-value {
    border-bottom: 2px solid #ccc;
    padding: 10px;
    transition: all .45s ease;
    color: white;
  }
  label {
    color: white;
    font-size: 1 rem;
    margin-bottom: 5px;
  }
  input,
  select {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    padding: 8px;
    margin-bottom: 15px;
    color: white;
  }
  input:focus {
    border: 1px solid #4c49f3;
  }
  .degree-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  /* .degree-field {
    display: flex;
    flex-direction: row;
    width: 46%;
  } */
  option {
    background-color: #F7364B;
    color: #f6f6f6;
  }
  #convert-btn {
    background: #552696;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #f6f6f6;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 12px 80px;
    transition: all 0.4s ease-in;
  }
  #convert-btn:hover {
    background: #F7364B;
  }
  
  /* Add a right margin to each icon */
  
  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }
  
  .loading {
    display: none;
  }